/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    font-family: sans-serif;
    transition: .2s ease all;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;

}
a{
    color: #000000;
}

:root{
    --white-color: #f4f4f4;
    --primary-color: #e63600;
    --other-color: #b42a00;
    --black-color: #1b1b1b;

    --padding-section: .6rem 7rem;
    --margin-section: 7rem 0;
}

.padding{
    padding: var(--padding-section);
}
.margin{
    margin-bottom: 150px;
}

/* custom scroll bar */
::-webkit-scrollbar{
    background: transparent;
    width: 10px;
    height: 10px;

}
::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 30px;
    cursor: pointer;
}
body{
    padding: var(--padding-section);
    background: var(--white-color);
    position: relative;
}

.lg-font-size{
    font-size: 2rem;
}
