/* Header starts here */
.header-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: var(--padding-section);
    background: var(--white-color);
    z-index: 999;
}

.shadow{
    box-shadow: 0 0 30px rgba(255, 94, 0, 0.3);
}

.active-link{
    color: var(--primary-color);
    position: relative;
}
.active-link::after{
    position: absolute;
    content: '';
    color: var(--primary-color);
    background: var(--primary-color);
    border-radius: 20px;
    width: 30px;
    height:6px;
    left:20px;
    bottom: -10px;
}

.header-section .logo{
    cursor: pointer;
}

.header-section .logo h2{
    color: var(--black-color);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 800;

}
.header-section .logo h2 span{
    color: var(--primary-color);
    font-size: 2.4rem;
}

.navigation-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-link{
    padding: 0 1.3rem;
    font-size: 1rem;
    font-weight: 600;

}
.nav-link:hover{
    color: var(--primary-color);
}
.hidden{
    display: none;
}
.nav-arrow{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--primary-color);
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    color: #fff;
    font-size: 1rem;
    z-index: 9999;
    cursor: pointer;

}




.btn{
    font-size: 1rem;
    color: var(--white-color);
    background: linear-gradient(45deg, var(--primary-color), var(--other-color));
    padding: .8rem 1.4rem;
    border-radius: 60px;
    cursor: pointer;
}
.sign-in-btn{
    z-index: 123;
    margin-right: -62px;
    padding-right: 4.5rem;

}
.sign-up-btn{
    background: #f7c5b5;
    color: var(--primary-color);
}
.btn-primary:hover{
    background: linear-gradient(55deg, var(--other-color), var(--primary-color));
}

/* hero section starts */
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    height: 100vh;
    margin-top: 2.5rem;

}

.left-section{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.left-section h2{
    font-size: 3.2rem;
    color: var(--primary-color);
    line-height: 3.5rem;
    margin-bottom: 10px;
}

.left-section p{
    font-size: 1.1rem;
    color: var(--black-color);
    margin-bottom: 1.4rem;
}

.right-section img:hover{
    transform: scale(1.01);
}

/* models sections starts */
.models-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}
.left-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px 0;
}
.model-name-container{
    padding: .7rem;
    cursor: pointer;
    width: 13%;
    text-align: center;
}
.model-name-container h3{
    font-size: 1rem;
}
.model-name-container:hover{
    transform: scale(1.01);
}

.active{
    background: linear-gradient(45deg, var(--primary-color), var(--other-color));
    color: var(--white-color);

}
.models-pricing-container{
    display: grid;
    grid-template-columns: 650px 250px;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;

}
.center-container{
    width: 90%;
    height: 320px;
    padding: .9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.center-container img{
    width: 80%;
}
.center-container img:hover{
    transform: scale(1.01);
}

.right-container{
    width: 100%;
}

.car-details{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(45deg, var(--primary-color), var(--other-color));
    color: var(--white-color);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    padding: 0 2rem;
}

.car-details .details{
     padding-bottom: 20px;
     display: flex;
     align-items: center;
     justify-content: flex-start;

}
.car-details h2{
    text-align: center;
    color: var(--white-color);
    margin: 10px;
    padding: 5px 0;
    border-bottom: 1px solid var(--white-color);

}

.car-details h3{
    margin-right: 20px;
    font-weight: bold;
    padding-right: 15px;
}

.reserve-btn{
    margin:  10px 0;
}
.center-section-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

/* Book Section Starts here */
.booking-section{
    padding: .5rem 1rem;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    column-gap: 30px;
    justify-content: center;
    background: var(--white-color);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.booking-section > div{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}

.booking-section > div > label{
    font-size: .8rem;
    color: var(--black-color);
    margin-bottom: 10px;
    ;
}

.booking-section > div > select,
.booking-section > div > input
    {
    padding: .4rem .5rem;
    border: 1px solid var(--primary-color);
    font-size: .8rem;
    width: 100%;
    background: none;

}

.booking-section > div > select > option{
    font-size: .8rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: .2rem;
    border: none;
}

.book-btn{
    border-radius: 0;
    margin-top: 1rem;
}

/* Book Section Ends here */


/* Book Process starts here*/
.book-section{
    display: flex;
    flex-direction: column;
    margin: 7rem 0;
    text-align: center;

}
.book-section > h2{
    margin-bottom: 10px;
}

.book-process{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin: 5rem;
}

.card{
    padding: 1rem;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content:  center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    position: relative;
    border: 1px solid var(--primary-color)
}
.card .icon{
    position: absolute;
    top: -20px;
    left: 40%;
    height: 50px;
    width: 50px;
    border: 1px solid var(--primary-color);
    background: var(--white-color);
    border-radius: 50px;
    display: flex;
    color: var(--primary-color);
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}
.card:hover{
    background: linear-gradient(45deg, var(--other-color), var(--primary-color));
    color: var(--white-color);
    transform: scale(1.01);
    cursor: pointer;
}
.card > div > img{
    height: 20px;
    margin: 2rem;
}

.card h2{
    margin-bottom: 1.4rem;
    font-size: 1.4rem;
}
/* Book Process ends here */

/* subscribe section starts here */

.subscribe .container{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    background: #252525;
    height: auto;
    width: 100%;
    padding: 2.5rem 2rem; 
}

.subscribe .container .details_left h1{
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.subscribe .container .details_right div{
    padding: .3rem;
    border: 1px solid white;
    border-radius: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subscribe .container .details_right div input{
    width: 80%;
    font-size: 1.2rem;
    padding: .4rem;
    color:#ffffff;
    background: none;
}
/* subscribe section ends here */

/* Booking section Starts Here */

.booking{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.booking .title-container{
    margin-bottom: 50px;

}

.booking .booking-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    gap: 30px;
    width: 100%;
    padding: 30px;

}

.booking .booking-container .car-book{
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid var(--primary-color);
    padding: 1.2rem;
    width: 300px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.booking .booking-container .car-book:hover{
    box-shadow: 0 0 30px rgba(255, 94, 0, 0.3);
    transform: scaleY(1.01);
}

.book-button{
    padding:  5px 10px;
    font-size: inherit;
    border-radius: 8px;
    margin-top: 2rem;
}

.car-detail .details .price,
.car-detail .rating > p{
    font-size: .9rem;
    font-weight: 500;
}
.car-book .car-detail{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}
.car-name{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color);
    margin: .7rem;
}
.star-rate{
    padding: .3rem;
    height: .3rem;
    width: .3rem;
    background: #e4e4e4;
    border-radius: 50px;
    color: var(--primary-color);
    margin-right: .3rem;

}
.car-book .img-container{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.title-container{
    text-align: center;
}
/* Booking section Ends Here */